.namePillPrimary {
    background-color: var(--color-neutral-5);
    color: rgb(255, 255, 255);
}
.namePill{
    text-transform:capitalize;
}
.nameSymbol,.namePill {
    background-color: var(--color-neutral-2);
    color: var(--color-neutral-6);
    border-radius: 4px;
    padding: 2px 6px;
    font-size:18px;
    font-weight: 600;
    line-height: 18px;
    margin-left: 12px;
    margin-right: 6px;
}
.rank-container {
    box-sizing: border-box;
    margin: 0px;
    display: flex;
}
.icon-Star-Filled{
    margin: -10px;
    color: #777d84;
}
.watchlist-icon {
    -webkit-box-align: center;
    align-items: center;
    background: transparent;
    border: 1px solid rgb(207, 214, 228);
    border-radius: 8px;
    display: inline-flex;
    color: rgb(0, 0, 0);
    cursor: pointer;
    -webkit-box-pack: center;
    justify-content: center;
    outline: 0px;
    font-weight: 600;
    width: auto;
    height: 32px;
    font-size:18px;
    padding: 0px 16px;
    line-height: 18px;
}
.watchlistbtn{
    width: auto;
    padding: 0px 8px;
}

.watchlist-icon-1 {
    border-radius: 8px;
    padding: 0px;
    width: 32px;
}
.watchlist-icon-container{
    position: relative;
    right: -99px;
}
.coinname{
    margin-bottom: 6px;
}
.coin-name-n-logo-container {
    margin: 0px;

}
.nameSection-1 {
    box-sizing: border-box;
    margin: 0px;
}
.nameSection-upper-part {
    box-sizing: border-box;
    margin: 0px 0px 16px;
}
.nameHeader {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    word-break: break-word;
}

@media only screen and (max-device-width: 480px) {
    .rank-container{
        margin-left: -10px;
        margin-bottom: 18px;
    }
}

@media (min-width: 1376px){
    .nameHeader {
        margin-top: 32px;
    }
}
@media (min-width: 768px){
    .nameHeader {
        -webkit-box-pack: start;
        justify-content: flex-start;
    }
    .nameHeader {
        margin-top: 32px;
    }
    .coin-name-n-logo-container {
        font-size: 24px;
        line-height: 34px;
    }
}
