.namePill,  .namePillBase {
    background-color: var(--color-light-neutral-2);
    color: var(--color-light-neutral-6);
    border-radius: 4px;
    padding: 2px 6px;
    font-size: 11px;
    font-weight: 500;
    line-height: 18px;
    white-space: nowrap;
    margin: 0px 0px 0px 8px;
}
.namePillBase {
    cursor: pointer;
}
.Low-High-data {
    color: #000000;
    font-size:18px;
    font-weight: 600;
    line-height: 22px;
}
.High-price-container {
    box-sizing: border-box;
    margin: 0px 0px 0px 16px;
}
.Low-High-Text {
    color: var(--color-neutral-6);
    font-size:18px;
    font-weight: 400;
    line-height: 18px;
}
.low-price-container {
    box-sizing: border-box;
    margin: 0px 16px 0px 0px;
}
div.sliderSection {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: flex-start;
}
.price-change-btn {
    white-space: nowrap;
    border-radius: 8px;
    background-color: #16c784;
    color: rgb(255, 255, 255);
}
.priceValue {
    white-space: nowrap;
}
.priceTitle {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
}
.priceHeading {
    color: var(--color-neutral-6);
    font-size:18px;
    font-weight: 500;
    line-height: 18px;
}



@media only screen and (max-device-width: 480px) {
    .priceSection {
        flex: 0 0 34%;
        margin-bottom: 10px;
    }

    .priceHeading{
        font-size: 14px;
        margin-bottom:  8px;
    }
    .priceTitle{
        margin-bottom: 12px;
    }
    .low-price-container{
        flex: 0 0 42%;
    }
    .Low-High-data,.Low-High-Text{
        font-size: 15px;
    }
}
@media (min-width: 1376px){
    .priceSection {
        margin-top: 14px;
        flex: 0 0 34%;
    }
    .priceHeading {
        text-align: left;
    }
    .priceTitle {
        -webkit-box-pack: start;
        justify-content: flex-start;
    }
    div.sliderSection {
        margin: 14px 0px 20px;
        -webkit-box-pack: start;
        justify-content: flex-start;
    }
}

@media (min-width: 768px){
    .priceSection {
        flex: 0 0 34%;
    }
    div.sliderSection {
        margin: 14px 0px 8px;
        -webkit-box-pack: end;
        justify-content: flex-start;
    }
}